<div *ngIf="movie" class="movie-background" id="movie-background" [ngStyle]="{'background-image': 'url(' + movie.moviePhotos[0]}">

</div>

<div class="card mb-3" *ngIf="movie" >
  <img class="card-img-top" src={{movie.moviePhotos[0]}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
