<form class="form-inline row" *ngIf="!(user.token)">
  <div class="col-md-2" *ngIf="errorMessage !== ''" style="color: red;font-size: 12px;">
    {{errorMessage}}
  </div>
  <div class="col-md-4">
    <input #email type="text" class="form-control" value="" size="20" placeholder="Username">
  </div>
  <div class="col-md-4 margin-top-login">
    <input #password type="password" class="form-control" value="" size="20" placeholder="Password">
  </div>
  <div class="col-md-2 margin-top-login">
    <button class="btn btn-light" type="button" (click)="login(email.value, password.value)">Login</button>
  </div>
</form>


<button class="btn btn-danger signout" type="button"  *ngIf="user.token" (click)="signOut()">Sign Out</button>
