.footer {
  color: white;
  margin-left: 20px;
  height: 100%;
  flex-direction: row;
  display: flex !important;
  flex-basis: auto;
  align-items: center;
}

.previous, .next{
  position: absolute;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.next {
  right: 40px;
}

.previous {
  left: 40px;
}
